body {
   
    font-family: "Roboto",'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.16; 
    color:  #2E2F42;
    font-style: normal;
    background: #FFF;
}

ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}  
button{
    cursor: pointer;
} 
/* header */
.page-logo{
    font-family: Raleway;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo-span{
    color: #4D5AE5;
}
.menu-li{
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 1.7; 
letter-spacing: 0.32px;
}
.menu-li:hover, .menu-li:focus{
color: #404BBF;

}
.menu-li:active{
    text-decoration:underline #404BBF;
}
.adress-li{
    color:  #434455;

letter-spacing: 0.32px;
}
.menu-adress:hover,.menu-adress:focus{
    color: #404BBF;

}
/* hero */
.hero-section{
background: #2E2F42;
}
.hero-title{
    color: #FFF;
text-align: center;

font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
}
.button{
    color:  #FFF;

font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
border-radius: 4px;
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.benefits-title{
    color: var #2E2F42;

    font-size: 20px;
    
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
}
.benefits-text{
color: #434455;

line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}
.team-section-title{
    color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.1; 
letter-spacing: 0.72px;
}
.team-name{
    color:  #2E2F42;
text-align: center;

font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.team-desc{


color:  #434455;
text-align: center;

font-family: Roboto;

line-height: 2.4;
letter-spacing: 0.32px;
}

/* portfolio section */
.project-title
{
    color: #2E2F42;
text-align: center;

font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.72px;
}       
.project-name{
    color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.project-desc{
    color:  #434455;

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}
.footer{
    background:  #2E2F42;
}
.footer-logo{
    color: #F4F4FD;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-logo-span{
    color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.footer-text{
    color:  #F4F4FD;

font-size: 16px;

line-height: 1.5;
letter-spacing: 0.32px;
}